

{% block title %}
   {{ round_number }} . TUR
{% endblock %}

{% block content %}

    <p>Grubunuz <b>{% if your_color == 'KIRMIZI' %}
      <p style="color: #ff0000; font-size:100%;"> KIRMIZI </p>
    {% else %}
      <p style="color: #0000ff; font-size:100%"> MAVİ </p>
    {% endif %} </b></p>


    <p>Partnerinizin grubu  : <b>{% if partner_color == 'KIRMIZI' %}
      <p style="color: red; font-size:100%;"> KIRMIZI </p>
    {% else%}
      <p style="color: blue; font-size:100%"> MAVİ </p>


    {% endif %} </b></p>
</p>
    Transfer oyununun {{ round_number }}.turuna başlamak için <strong>"next"</strong>'e basınız.
</p>

    {% next_button %}
    {% include Constants.table_template %}
</p>



{% endblock %}

