



{% block title %}
<div class="card bg-light instructions" xmlns="http://www.w3.org/1999/html">
    <div class="card-body">

Deneyimize hoşgeldiniz.
        {% endblock %}

{% block content %}

<table class="table">
    <th  colspan="8" style="font-size:24px"> </th>
    <tr>
            <td style="width: 800px"><span style="font-style:italic;font-weight:bold">{{ form.accept.label }}</span> </td>
            {% for choice in form.accept %}
            <td>{{ choice }}</td>
            {% endfor %}
    </tr>
</table>


<p>

        <strong>10 tur</strong> yapılacak ve her turda <strong>7 dönem</strong> olacaktır.
        <p>
        Deneyin başlangıcında, <strong><span style="color: #0000ff">MAVİ</span></strong> ve <strong><span style="color: #ff0000">KIRMIZI</span></strong> olmak üzere iki gruba ayrılacaksınız. Deney boyunca renk grubunuz aynı olacaktır.
        <p>
        Eşleşme rastgele olarak yapılır. Ama her tur, Karar Verici konumunda olduğunuz durum için, aynı renk grubundan biriyle eşleşme olasılığını artırma fırsatına sahip olacaksınız. 0-9 arasında ödemek isteyeceğiniz bir tutar seçmeniz istenecektir. Ödemek istediğiniz tutar ne kadar yüksek olursa, transfer yapacağınız zaman aynı renk grubundan biriyle eşleşme şansınız o kadar yüksek olur.
        <p>
        Her dönem, size 1-8 arasında bir sıra numarası verilecek. Sizin sıranız geldiğinde, Karar Verici olacaksınız ve sırada sizden bir önceki kişi Alıcı olacak. Siz de gelecek dönem Alıcı olacaksınız.
        <p>
            <style>
                .asd {
                    text-indent: initial;
                 }
            </style>
                <body>
                    <div class ="asd">
                         <ul style="list-style-type:hoop;">
                            <li>Karar vericilere 9 birim verilir; Alıcılara ise 1 birim verilir.
                             </li>
                             <li>Karar Verici, verilenin hangi kısmını (0-7) Alıcıya transfer edeceğini seçer.
                             </li>
                             <li>Alıcı yalnızca transferi alır.
                                <style>
                                        .sudo {
                                            text-indent: 90px;
                                              }
                                </style>
                                         <body>
                                                <div class ="sudo">
                                                    <ul style="list-style-type:circle;">
                                                        <li>Karar vericilerin, alıcı olacakları zaman ne kadar transfer yapılacağını bekledikleri hakkında bilgi vermesi istenir.
                                                        </li>
                                                        <li>Bu bilgi Alıcılar ile paylaşılmaz ve kazancınızla hiç bir ilişkisi yoktur. Bu bilgi sadece deneyi analiz ederken tarafımızca kullanılacaktır.
                                                        </li>
                                                    </ul>
                                                </div>
                                        </body>
                             </li>                             </li>
                             <li>Yapılan transfer miktarı T, Karar verici ve Alıcı için sonucu belirleyecektir:
                             </li>
                                <style>
                                        .sudo {
                                            text-indent: 90px;
                                              }
                                </style>
                                         <body>
                                                <div class ="sudo">
                                                    <ul style="list-style-type:circle;">
                                                        <li>Alıcı EA = 1 + T’ye sahip olur.
                                                        </li>
                                                        <li> Karar verici EK = 9 - T’ye sahip olur.
                                                        </li>
                                                    </ul>
                                                </div>
                                        </body>
                             <li>Sıradaki herkes, ilk ve sonuncu dışında hem bir Karar verici hem de Alıcı olacaktır.
                             </li>
                                <style>
                                        .gvk {
                                            text-indent: 90px;
                                              }
                                </style>
                                         <body>
                                                <div class ="gvk">
                                                    <ul style="list-style-type:circle;">
                                                        <li> Eğer sıradaki ilk kişi sizseniz, o turda sadece Alıcı olacaksınız, ancak Karar Verici olmayacaksınız. Karar Verici olmanız gereken durum için size 2 birim verilecektir EK = 2.
                                                         </li>
                                                        <li> Eğer sıradaki son kişi sizseniz, o turda sadece Karar verici olacaksınız, ancak Alıcı olmayacaksınız. Alıcı olmanız gereken durum için bu turdaki önceki Alıcıların ortalama sonucunu alacaksınız EA = Ortalama (EA).
                                                        </li>
                                                    </ul>
                                                </div>
                                        </body>
                             <li>Her dönemin Karar vericisi, önceki dönemlerde yapılan transferler hakkında bilgilendirilecektir.
                             </li>
                         </ul>
                    </div>
                </body>
        <p>
        Her turda yeni bir sıra rastgele belirlenir ve Alıcı ve Karar Verici olarak eşleştiğiniz kişiler değişebilir.
        <p>
        Her tur sonunda, o tur için kazancınız EK x EA = (9 - Tj)x(1 + Ti) olarak hesaplanır.
        <p>
       <p>
        <p>

        <img src="{% static "imagepegT.png" %}"/>
        <p>
        <p>Aşağıdaki tablo, Karar verici olduğunuzda Alıcıya yaptığınız transfer ve Alıcı olduğunuzda Karar verici tarafından size yapılan transfere bağlı olarak bir turda elde edebileceğiniz kazançları göstermektedir. Bu tabloda satırlar Karar verici olduğunuzda sizden Alıcıya yapılan transferi ve sütunlar Alıcı olduğunuzda size Karar verici tarafından yapılan transferi gösterir. Yapacağınız transferi satırda ilk olarak bulup sonra size yapılan transferi veren sütuna doğru gittiğinizde, kazancınızı o tur için EK X EA puanı olarak okuyabilirsiniz.
        </p>
        <img src="{% static "payofftr.png" %}"/>
        <p>
        Transfer oyununa başlamak için <strong>"next"</strong>'e basınız.
        <p>
    {% next_button %}
        </p>
</div>
</div>


{% endblock %}

